@tailwind base;
@tailwind components;
@tailwind utilities;


@import '/components/styles/animations.css';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}

.cnt {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.cta {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px;
  background-color: #0077cc;
  border-radius: 50px;
  transition: background-color 0.2s;
}

.cta-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.cta:hover {
  background-color: #0093fc;
}
c{
  color: #0077cc;
  font: bold;
  border-bottom: 1px solid #0077cc;
}
@keyframes attentionButton {
  0%, 100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(0.95);
  }
  60% {
    transform: scale(1.05);
  }
  80% {
    transform: scale(1);
  }
}

.animate-attention-button {
  animation: attentionButton 1.8s ease-in-out infinite;
}

