@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #252B39;
  overflow: hidden;
  background-image: url('../public/dot.png');
  background-position: center;
}
