@import '/components/styles/animations.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #252B39;
  overflow: hidden;
  background-image: url('../public/body-bg-2.jpg');
  background-repeat: no-repeat;
  background-position: top;
  
}
