.content {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
}

.title {
  font-size: 3rem;
  color: #333333;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.prose {
  font-size: 1rem;
  line-height: 1.75;
  color: #555555;
}

.additionalInfo {
  font-size: 0.875rem;
  color: #777777;
  margin-top: 2rem;
}

.textGray600 {
  color: #4a4a4a;
}

.mt8 {
  margin-top: 2rem;
}

.content h2,
.content h3,
.content h4 {
  color: #333;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.content h2 {
  font-size: 2rem;
}

.content h3 {
  font-size: 1.5rem;
}

.content h4 {
  font-size: 1.2rem;
}

.content p {
  font-size: 1rem;
  line-height: 1.75;
  color: #555;
}

.content ul,
.content ol {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

.content li {
  margin-bottom: 0.5rem;
}

.content pre {
  background-color: #eef5ff;
  padding: 1rem;
  border-radius: 5px;
  overflow-x: auto;
  font-size: 0.9rem;
  color: #002b80;
  line-height: 1.5;
}

.content code {
  background-color: #eef5ff;
  padding: 0.2rem 0.4rem;
  border-radius: 4px;
  font-family: 'Courier New', Courier, monospace;
  color: #0047b3;
}