.content {
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.title {
  font-size: 3rem;
  color: #333333;
  margin-bottom: 1.5rem;
  font-weight: 700;
}

.prose {
  font-size: 1rem;
  line-height: 1.75;
  color: #555555;
}

.additionalInfo {
  font-size: 0.875rem;
  color: #777777;
  margin-top: 2rem;
}

.textGray600 {
  color: #4a4a4a;
}

.mt8 {
  margin-top: 2rem;
}
.content h2 {
  font-size: 2rem;
  color: #333;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.content h4 {
  font-size: 1.2rem;
  color: #464a50;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 600;
}
.content p {
  font-size: 1rem;
  line-height: 1.75;
  color: #555;
}

